.container.navigation{
    display: flex;
    background-color: #4D869C;
    max-width: 100%;
    border: #EEF7FF solid 5px;
}

.navigation-items{
    display: flex;
    align-items: center;
}

.navigation-bar ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    align-items: center;
    
}

li a {
    color: #CDE8E5;
    font-family: 'Times New Roman', Georgia, serif;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #7AB2B2;
  }

  #hero{
    background-color: #EEF7FF ;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;

  }

  .container.introduction > img{
    border-radius: 50%;
  }

  .text{
    color: #4D869C;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }


  #skills{   
    background-color: #CDE8E5 ;
    height: 80vh;
  }
 
  .text1{
    color: #4D869C;
    text-align: center;
    font-family: 'Times New Roman', Georgia, serif;
    padding: 5px;
    font-size: xx-large;
    
  }

  .text1 > p{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size:1rem;
    margin: 100px;
}

  #skills > .container.skills > .programmingskills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
  }

  #skills > .container.skills > .programmingskills > .grid-item{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #project{   
    background-color: #EEF7FF ;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

@media (min-width:1200px){
  #project > .container.project > .project-template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    
  }
}

#project > .container.project > .project-template > .grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #7AB2B2 5px;
    border-radius: 10%;
    padding-bottom: 30px;
    background-color: #CDE8E5;
    
}

#project > .container.project > .project-template > .grid-item1 > h3,h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #4D869C;
    font-size: larger;
    font-weight: bolder;
}


  .separator{
    border: dotted #4D869C 6px;
    border-bottom: none;
    width: 50%;
  }